{:builds {:frontend {:target :node-script
                     :main app.core/init
                     :output-to "target/main.js"}}

 :dependencies [[cider/cider-nrepl "0.25.8"]
                [refactor-nrepl "2.5.0"]]

 :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]}

 :source-paths ["src"]}
